<!DOCTYPE html>
<html>
    <head lang="en">
        <title>main page</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../style/stylesheets.css">
    </head>
    <body>
        <div class="container">
        <header>
            <nav>
                <div class="div">
                    <img src="../resources/hi.jpg" alt="hi picture" width="50px" height="30px">
                </div>
                <ul>
                    <li>shows</li>
                    <li>manga</li>
                    <li><a href="../templates/login.html">login</a></li>
                </ul>
            </nav>
        </header>
        </div>
        <div class="container , img_show">
            <img src="https://placekitten.com/400/300" alt="hi" class="img_show">
        </div>
            <div class="container">
                <section class="main-paner">
                    <nav>
                        <ul>
                            <li>new</li>
                            <li>popular</li>
                            <li>seasons</li>
                            <li>simulcast</li>
                        </ul>
                    </nav>
                    <div  class = "main-content"style="margin:0px 15px 0px 15px">
                        <div class="content">
                            <img src="https://placekitten.com/150/100" alt="kitten">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aliquid voluptatum eaque tenetur ratione saepe rerum, dignissimos deserunt quidem sint itaque consequatur commodi</p>
                        </div>
                        <div class="content">
                            <img src="https://placekitten.com/150/100" alt="kitten">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aliquid voluptatum eaque tenetur ratione saepe rerum, dignissimos deserunt quidem sint itaque consequatur commodi</p>
                        </div>
                        <div class="content">
                            <img src="https://placekitten.com/150/100" alt="kitten">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aliquid voluptatum eaque tenetur ratione saepe rerum, dignissimos deserunt quidem sint itaque consequatur commodi</p>
                        </div>
                        <div class="content">
                            <img src="https://placekitten.com/150/100" alt="kitten">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aliquid voluptatum eaque tenetur ratione saepe rerum, dignissimos deserunt quidem sint itaque consequatur commodi</p>
                        </div>
                        <div class="content">
                            <img src="https://placekitten.com/150/100" alt="kitten">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aliquid voluptatum eaque tenetur ratione saepe rerum, dignissimos deserunt quidem sint itaque consequatur commodi</p>
                        </div>
                        <div class="content">
                            <img src="https://placekitten.com/150/100" alt="kitten">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aliquid voluptatum eaque tenetur ratione saepe rerum, dignissimos deserunt quidem sint itaque consequatur commodi</p>
                        </div>
                    </div>
                </section>
                <section class="right-paner;">
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing.</p>

                </section>
            </div>
        <div class="container">
        <footer>
            this is a footer
        </footer>
        </div>
    </body>
</html>
