<!DOCTYPE html>
<html>
    <head>
        <title>main page</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../style/stylesheets.css">
    </head>
    <body>
        <header>
            <nav>
                <div>
                    <img src="../resources/hi.jpg" alt="hi picture" width="50px" height="30px">
                </div>
                <ul>
                    <li>shows</li>
                    <li>manga</li>
                    <li><a href="../templates/login.html">login</a></li>
                </ul>
            </nav>
        </header>
        <!-- here where the main and right paner should go--> 
        <footer>
            this is a footer
        </footer>
    </body>
</html>