<!DOCTYPE html>
<html>
    <head>
        <title>main page</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../style/stylesheets.css">
    </head>
    <body>
        <div class="container">
        <header>
            <nav>
                <div class="div">
                    <img src="../resources/hi.jpg" alt="hi picture" width="50px" height="30px">
                </div>
                <ul>
                    <li>shows</li>
                    <li>manga</li>
                    <li><a href="../templates/login.html">login</a></li>
                </ul>
            </nav>
        </header>
        </div>
        <div class="container">
            <!-- put the picutre here -->
        </div>
            <div class="container">
                <section class="main-paner">
                    <!-- contains of the main paner -->
                </section>
                <section class="right-paner">
                    <!-- contains of the right paner -->
                </section>
            </div>
        <div class="container">
        <footer>
            this is a footer
        </footer>
        </div>
    </body>
</html>
