<!DOCTYPE html>
<html>
    <head>
        <title>register</title>
        <meta charset="UTF-8">
        <style>
            body{ background-color: aquamarine;}
        </style>
    </head>
    <body>
        <div>
            <form action="" method="POST">
                <label>FIRST NAME</label><br>
                <input name="first name" type="text" placeholder="enter your first name"><br><br>
                <label>LAST NAME</label><br>
                <input name="last name" type="text" placeholder="enter your last name"><br><br>
                <label>EMAIL ADDRESS</label><br>
                <input name="email adress" type="email" placeholder="enter your email adress"><br><br>
                <label>PASSWORD</label><br>
                <input name="password" type="password" placeholder="enter your password"><br><br>
                <input type="submit" value="register">

            </form>
        </div>
    </body>
</html>